<div class='col-sm-8'>
  <h1>Editing Blog</h1>

  <%= render 'form', blog: @blog %>

  <%= link_to 'View', @blog, class: 'btn btn-secondary' %>
  <%= link_to 'Delete', @blog, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?'} %>
</div>
