<footer class='mastfoot mt-auto'>
  <div class='inner'>
    <%#= copyright_generator %>
    <%#= welcome_from_source('application') %>
    <p>Background by <span>Photo by <a href="https://unsplash.com/@timmossholder?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Tim Mossholder</a> on <a href="https://unsplash.com/t/textures-patterns?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></p>
  </div>
</footer>
