<nav class='navbar navbar-default navbar-fixed-top'>
  <div class='container'>
    <%#= link_to 'About', '#about_me', class: "nav-link#{' active' if active == 'about'}" %>
    <%#= link_to 'Projects', '#projects', class: "nav-link#{' active' if active == 'portfolios'}" %>
    <%#= scroll_into_view_link 'Contact', '#contact_me', "nav-link#{' active' if active == 'contact'}" %>
    <%#= login_helper(registerClass='nav-link register_link', loginClass='nav-link login_link',
                      currentUserClass='nav-link current_user_link') %>
  </div>
</nav>
