<h1 class='cover-heading'>Welcome.</h1>
<p class='lead'>Here Computer Science AI/ML combine with Business Intel to create something amazing. Oh, and memes, can't forget the memes</p>
<p class='lead'>
  <%= link_to 'Learn more', about_path, class: 'btn btn-lg btn-secondary' %>
</p>
